body {
    background-color: #7f0920;
    color: #0a0408;
}

#appTitle {
    text-align: center;
    margin: 0px auto;
    display: block;
    color: #FFC72C;
    font-family: 'Staatliches', sans-serif;
    font-size: 80px;
}

#genres {
  width: 250px;
  font-size: 20px;
  padding: 7px 10px;
  border-style: none;
  background-color: #ffffff;
  color: #7f0920;
  font-family: "Fredoka One", sans-serif;
  border-radius: 5px;
}

#genreForm, #playBtn {
    text-align: center;
    margin: 0px auto;
    display: block;
    color: #FFC72C;
    font-family: 'Fredoka One', sans-serif;
}

#movieInfo {
    width:  65%;
    margin:  32px auto;
}

#movieInfo:after {
    content:  "";
    display:  table;
    clear:  both;
}

#moviePoster, #movieText {
    width:  50%;
    float:  left;
}

img#moviePoster {
    width:  100%;
    height:  auto;
    display:  block;
    margin:  auto;
}

#movieText,#similarMovies {
    font-family: 'Questrial';
    color: #FEFBEA;
    line-height: 1.25;
}

#movieTitle, #movieOverview {
    padding:  32px;
}

#playBtn {
    margin-top: 20px;
    font-size: 25px;
    padding: 7px 10px;
    border-radius: 10px;
    border-style: none;
    background-color: #FFC72C;
    color: #7f0920;
    cursor:  pointer;
}

label {
    display: block;
    font-size: 35px;
    margin-bottom: 5px;
}

select {
    width: 200px;
    height: auto;
}

#likeOrDislikeBtns {
    text-align: center;
    margin: 0px auto;  
}

#likeBtn, #dislikeBtn {
    padding: 15px 25px;
    font-size: 25px;
    border-radius: 12px;
    border-style: none;
    cursor:  pointer;
}

#likeBtn {
    background-color: #249e57;
    color: darkgreen;
}

#dislikeBtn {
    background-color: #c74a4a;
    color: #910000;
}

.similarMovie {
  width: 250px; /* Reduce the width to 25% with some spacing */
  margin-bottom: 5px; /* Add margin between similar movies */
  //box-sizing: border-box; /* Include padding and border in width calculation */
  padding: 5px;
  border: 1px solid #ccc;
  //background-color: #f9f9f9;
}
