#appTitle,
#playBtn,
.choose,
.choose-genre,
#movie-info,
#similar-movies-title,
.similar-movies-container,
#genres {
  font-family: "Hedvig Letters Sans", sans-serif;
}

header{
  background-color: #cd3c2a;
  height: 90px;
  display: flex;
  font-size: 2rem;
  margin-left: -1em;
  margin-right: -1em;
  margin-top: -0.5em;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
}

#appTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  margin:0 auto;
}

#movie-info {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.choose {
  font-size: 16px;
}
#genres {
  font-size: 16px;
   
}

#playBtn {
  font-size: 18px;
  padding: 10px;
  background-color: #f8cd58;
  color: black;
  margin-top: 10px;
  border-radius: 1em;
}

#playBtn:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}


#similar-movies-title {
  display:none;
  text-align: center;
}

#movie-overview {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 1em;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 0;
  padding-bottom: 30px;
  align-self: center;
}



#movie-info img {
  padding-left: 2em;
  padding-right: 2em;
  max-width: 300px;
}

.similar-movie {
  background-color: #cd3c2a;
  color: white;
  margin: 0 0 1em;
}

#tagline {
  font-size: 20px;
  font-style: italic;
}



body {
  background-color: #eae6da;
}

.choose-genre {
  margin: 0 auto;
  max-width: 50%;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
}





.similar-movie .movie-title {
  display: flex;
  padding-top: 30px;
  height: 150px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.movie-text {
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
}

#movie-text {
  text-align: center;
  padding-left: 3em;
  padding-right: 3em;
  max-width: 50%;
}

img {
  display: block;
  max-width: 100%;
  max-height: 300px;
  padding-top: 30px;
  margin: 0 auto;
}
.similar-movies img {
  max-width: 90%;
  margin: 0 auto;
  
}

content {
  font-size: 1em;
  padding: 1em;
}

.box a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: black;
  background: white;
  transition: all 0.2s;
}

@media screen and (min-width: 650px) {
  .similar-movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .double {
    flex: 2 0 100%;
  }

  .double img {
    max-width: 80%;
    margin: 0 auto;
  }

  .similar-movie {
    display: flex;
    width: calc(50% - 0.5em);
  }
}

@media screen and (min-width: 900px) {
  .similar-movies-container {
    max-width: 90%;
    margin: 0 auto;
  }

  .similar-movie {
    width: calc(33% - 1em);
  }

  .double {
    flex: none;
  }
  .double img {
    max-width: 90%;
    margin: 0 auto;
  }
}


 
@media screen and (min-width: 420px) and (max-width: 570px) {
  #appTitle {
    font-size: 1.5em;
    margin:0 auto;
  }
   header {
    height:150px;
  }


  #movie-overview {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 571px) and (max-width: 750px) {
  #appTitle {
    font-size: 2em;
  }

   header {
    height:200px;
  }

  #movie-overview {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 751px) {
  #appTitle {
    font-size: 2em;
  }
  header {
    height:200px;
  }

 
  #movie-overview {
    font-size: 1.1em;
  }

  .similar-movie #movie-overview {
    font-size: 1.2em;
  }
}



  .logo {height: 4rem;
 
    width: auto;}

    #appTitle, .logo {
      margin: 10px; 
      padding: 10px; 
  }
  
  
  
  
  
  
  
  
  
